.scheduler {
  margin-left: 50px;
  margin-bottom: 112px;
  display: flex;

  .right {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 12px;
      width: 1072px;
      gap: 0px;
      background: #fdfdff;
      border-bottom: 1px solid #f6f6fe;
      padding-bottom: 12px;
      padding-right: 50px;
      border-radius: 0px 0px 30px 30px;
      box-shadow: inset;

      .circles {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        position: relative;

        .header_circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          border: 1px solid #7362bc;

          .msg_logo {
            width: 24px;
            height: 24px;
          }

          .msg_count {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            top: -3px;
            left: 29px;
            padding: 2px 4px 2px 4px;
            gap: 0px;
            opacity: 0px;
            position: absolute;
            color: #ffff;
            background: #e84849;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }

    .change_panel {
      display: flex;
      width: 1072px;
      gap: 475px;
      padding: 32px 20px 0px 20px;

      .select_subject {
        width: 253px;
        padding: 10px 12px 10px 12px;
        gap: 0px;
        border-radius: 8px 8px 8px 8px;
        justify-content: space-between;
        border: 1px solid #ececec;
        display: flex;
        font-family: Circe Rounded;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.2px;
        text-align: left;
        color: #79747f;
      }

      .submit_btn {
        width: 344px;
        padding: 10px 40px 10px 40px;
        gap: 8px;
        border-radius: 30px 30px 30px 30px;
        color: var(--Violet-Violet, #decfff);
        border: 0px;
      }
    }

    .calendar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      padding: 32px 0px 0px 32px;

      .month_pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .name {
          font-family: Circe Rounded;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          text-align: left;
          color: #323854;
        }
      }

      .day_section {
        width: 85px;
        padding: 8px 16px 8px 16px;
        gap: 16px;
        border-radius: 15px;
        background: #ffffff;
        border: 1px solid #8d7fc7;
        font-family: Circe Rounded;
        font-size: 12px;
        font-weight: 400;
        color: #323854;
      }

      .faq {
        width: 18px;
        height: 18px;
        border: 1.5px solid #7362bc;
        border-radius: 50%;
        font-family: Circe Rounded;
        font-size: 12px;
        font-weight: 400;
        color: #323854;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .main_section {
      margin: 12px 0px 0px 32px;
    }
    .week_section {
      display: flex;
      .week_day {
        width: 153.14px;
        padding: 0px 6px 0px 6px;
        gap: 0px;
        border-bottom: 1px solid #ececec;
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        font-family: Circe Rounded;
        font-size: 15px;
        font-weight: 400;
        line-height: 20.25px;
        color: #79747f;
      }
    }
  }
}
