.main_page_button {
  width: 288px;
  height: 40px;
  padding: 10px 40px 10px 40px;
  gap: 8px;
  border-radius: 30px;
  background: var(--Violet-Violet, #decfff);
  cursor: pointer;
  border: 0px;
  margin-top: 32px;

  .main_page_button_text {
    font-family: Circe Rounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
  }
}
